@import "./../common/styles/sass/variables";

.header {
    height: 10vh;
    background-color: $backgroundColorPrimary;

    .headerContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

