@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.contactsBlock {
    min-height: 20vh;
    background-color: $backgroundColorPrimary;

    .contactsContainer {
        flex-direction: column;
        justify-content: flex-start;

        .contacts {
            width: 90%;
            min-width: 300px;
            max-width: 600px;
            //border: 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;

            .text {
                @include text($buttonFontFamily, 400, 16px, $textColor);
                text-transform: uppercase;
                margin-top: 3px;
                margin-bottom: 4px;
            }

            .input {
                width: 100%;
                margin-bottom: 10px;
                box-sizing: border-box;
                border-width: 1px;
                border-color: $backgroundColorSecondary;

                padding: 10px;
                font-size: 16px;


                background-color: $backgroundColorSecondary;
                color: $textColor;
                border-style: solid;
                border-radius: 0px;
                box-shadow: 0px 0px 0px rgba(66,66,66,.0);
                text-shadow: 0px 0px 0px rgba(66,66,66,.0);

                &:focus {
                    border-color: $hoverTextColor;
                    outline:none;
                }
            }

            .button {
                @include text($buttonFontFamily, 400, 16px, $textColor);

                margin-top: 10px;
                margin-bottom: 30px;
                width: 100%;

                background: $backgroundColorPrimary;
                padding: 4px 20px 4px 20px;
                border: solid $textColor 1px;
                text-decoration: none;
                transition: .35s;
                cursor: pointer;

                &:hover {
                    border: solid $hoverTextColor 1px;
                    color: $hoverTextColor;
                    text-decoration: none;
                }
            }
        }
    }
}









