.skillsBlock {
    min-height: 60vh;
    background-color: #232323;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: lightcyan;
}

.skills {
    width: 90%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 865px) and  (max-width: 1520px) {
    .skills {
        justify-content: space-between;
    }
}

@media screen and (max-width: 865px) {
    .skills {
        justify-content: center;
    }
}