@import "./../common/styles/sass/variables";

.skillsBlock {
  min-height: 10vh;
  background-color: $backgroundColorPrimary;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    padding-bottom: 20px;

    .skills {
      width: 90%;
      //border: 1px solid;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (min-width: 450px) and (max-width: 1400px) {
        /* justify-content: space-around;*/
      }
      @media screen and (max-width: 450px) {
        justify-content: center;
      }
    }
  }
}



