.main {
    height: 90vh;
    background-color: lightgreen;
}

.text {
    width: 400px;
    background-color: lightblue;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightcyan;
}

