@import "./../../common/styles/sass/variables";
@import "./../../common/styles/sass/mixins";

.navigation {
    width: 500px;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;

    & a {
        @include text($buttonFontFamily, 400, 16px, $textColor);

        background: $backgroundColorPrimary;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;
        transition: .35s;
        cursor: pointer;

        &:hover {
            background: $backgroundColorSecondary;
            color: $hoverTextColor;
        }
    }
}