.title{
    /*background-color: lightcyan;*/
    color: #cda274;
    box-sizing: border-box;
    margin: 20px 0px;



    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;

}

