.project {
    /*dlya dvuh kolonok*/
    background-color: #232323;
    max-width: 1000px;
    min-width: 450px;
    min-height: 359px;
    width: 45%;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1113px) {
    .project {
        /*dlya odnoi kolonki*/
        background-color: lightblue;
        max-width: 550px;
        min-width: 290px;
        width: 90%;
    }
}

.dws {
    position: relative;
    width: 90%;
    height: 300px;
}

.blocImg {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: black;

}

.blocImg img {
    width: 100%;
    transition: .7s;
}

.blocText {
    position: absolute;
    top: 240px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    transition: .35s;
}

.text {
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
    opacity: 1;
    transition: .35s;
}

.text h3 {
    font-size: 22px;
}

.text span {
    text-transform: none;
    font-size: 16px;
    opacity: 0;
    transition: .35s;

    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    background: #232323;
    padding: 4px 20px 4px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
    transition: .35s;
    cursor: pointer;
}

.dws:hover .blocImg img {
    transform: scale(1.2);
    filter: blur(1px);
    opacity: 0.35;
}

.dws:hover .blocText {
    top: 120px;
    bottom: 130px;
}

.dws:hover .text {
    color: #cda274;
}

.dws:hover .text span {
    color: #fff;
    opacity: 1;
    top: 60px;
}

.blocText::before,
.blocText::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .7s;
}

.blocText::before {
    border-bottom: 1px solid #fff;
    transform: scale(0,1);
}

.dws:hover .blocText::before,
.dws:hover .blocText::after{
    transform: scale(1,1);
}

.btn:hover {
    border: solid #cda274 1px;
    color: #cda274;
    text-decoration: none;
}