.project {
    /*dlya dvuh kolonok*/
    background-color: #232323;
    max-width: 1000px;
    min-width: 450px;
    width: 45%;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 90%;
    height: 300px;
    background-color: darkblue;
}

.title {
    /*background-color: #8cbebf;*/
}

.description {
    /*background-color: #c1e5b1;*/
}

@media screen and (max-width: 1113px) {
    .project {
        /*dlya odnoi kolonki*/
        background-color: lightblue;
        max-width: 550px;
        min-width: 290px;
        width: 90%;
    }
}