@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.footerBlock {
    min-height: 10vh;
    background-color: $backgroundColorSecondary;

    .footerContainer {
        flex-direction: column;
        justify-content: flex-start;

        padding-top: 20px;
        padding-bottom: 20px;

        .footer {
            width: 90%;
            min-width: 300px;
            max-width: 600px;
            //border: 1px solid;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .text {
            @include text($buttonFontFamily, 400, 16px, $textColor);
        }
    }
}





