@import "./../common/styles/sass/variables";

.projectsBlock {
  min-height: 60vh;
  background-color: $backgroundColorSecondary;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 90%;
      border: 1px solid;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 1113px) {
        justify-content: center;
      }
    }
  }
}





